
<b:beans xmlns="http://www.springframework.org/schema/security"
		 xmlns:b="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        
    </http>
<authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="bill" password="pass@1234" authorities="ROLE_USER" />
                <user name="admin" password="pass@1234" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>  
 </authentication-manager>
 </b:beans>
	
